@use "./color" as c;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: c.$color-text;
  font-family: "Open Sans", sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
